@import '../styles/variables.module.scss';


.container {
  max-width: 1000px;
}

.box {
  margin-bottom: 40;
  height: 55;
  cursor: pointer;
}

.postHeading {
  display: flex;
  justify-content: left;
  flex-direction: column;
}

.postDateLong {
  font-style: italic;
}

.projectDescription {
  max-width: $max-width-el * 95/100;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
