@import 'variables.module.scss';

.appBar {
  position: relative;
  box-shadow: none;
  background-color: $background-color;
  display: flex;
}

.inline {
  display: inline;
}

.flex {
  display: flex;
  @media (max-width: 600px) {
    justifyContent: space-between;
  }
}

.link {
  text-decoration: none;
  color: inherit;
}

.tagline {
  display: inline-block;
  cursor: pointer;
  @media (min-width: 900px) {
    padding-top: $spacer;
  }
  @media (max-width: 600px) {
    margin-top: 6px;
  }
}

.iconContainer {
  display: none;
  @media (max-width: 600px) {
    display: block;
  }
}

.iconButton {
  margin-top: 2px;
  flex-direction: row-reverse;
}

.mobileSideMenu {
  background-color: transparent;
}

.tabContainer {
  margin-left: 32px;
  background-color: transparent;
  @media (max-width: 600px) {
    display: none;
  }
}

.tabItem {
  padding-top: 20px;
  padding-bottom: 20px;
  min-width: auto;
}
