@font-stack: Helvetica, sans-serif;
@primary-background: #292D3E;
@primary-color: #EBEBF2;
@link-color: darken(@primary-color, 20%);

body {
  font: 100% @font-stack;
  color: @primary-color;
  background-color: @primary-background;
}

a {
  color: @link-color;
}

div.section {
  &.about {
    div.personal-description {
      margin-bottom: 2rem;
    }
    div.list {
      margin-bottom: 1.5rem;
    }
  }
  &-title {
    font-size: 1.5rem;
    font-weight: bold;
  }
}
